{% extends "divein/base.html" %}

{% block title %}dive#{% endblock %}
{% block content %}
    <p class="alert">Ce site est en construction hein :)</p>
    <table class="table  table-striped">
        <tr><th>#</th><th>Date</th><th>Spot</th></tr>
        {% for dive in dives %}
            <tr>
                <td><a href="{% url 'divein:dive' dive.id %}">{{ dive.pk }}</a></td>
                <td>{{ dive.date }}</td>
                <td><a href="{% url 'divein:spot' dive.spot.id %}">{{ dive.spot.name }}</a></td>    
            </tr>
        {% endfor %}
        <caption>Les dernières plongées</caption>
    </table>
{% endblock %}
